{
  "openapi": "3.0.2",
  "info": {
    "description": "## Terms and Definitions\n\nThroughout this document and the Velo platform the following terms are used:\n\n* **Payor.** An entity (typically a corporation) which wishes to pay funds to one or more payees via a payout.\n* **Payee.** The recipient of funds paid out by a payor.\n* **Payment.** A single transfer of funds from a payor to a payee.\n* **Payout.** A batch of Payments, typically used by a payor to logically group payments (e.g. by business day). Technically there need be no relationship between the payments in a payout - a single payout can contain payments to multiple payees and/or multiple payments to a single payee.\n* **Sandbox.** An integration environment provided by Velo Payments which offers a similar API experience to the production environment, but all funding and payment events are simulated, along with many other services such as OFAC sanctions list checking.\n\n## Overview\n\nThe Velo Payments API allows a payor to perform a number of operations. The following is a list of the main capabilities in a natural order of execution:\n\n* Authenticate with the Velo platform\n* Maintain a collection of payees\n* Query the payor’s current balance of funds within the platform and perform additional funding\n* Issue payments to payees\n* Query the platform for a history of those payments\n\nThis document describes the main concepts and APIs required to get up and running with the Velo Payments platform. It is not an exhaustive API reference. For that, please see the separate Velo Payments API Reference.\n\n## API Considerations\n\nThe Velo Payments API is REST based and uses the JSON format for requests and responses.\n\nMost calls are secured using OAuth 2 security and require a valid authentication access token for successful operation. See the Authentication section for details.\n\nWhere a dynamic value is required in the examples below, the {token} format is used, suggesting that the caller needs to supply the appropriate value of the token in question (without including the { or } characters).\n\nWhere curl examples are given, the –d @filename.json approach is used, indicating that the request body should be placed into a file named filename.json in the current directory. Each of the curl examples in this document should be considered a single line on the command-line, regardless of how they appear in print.\n\n## Authenticating with the Velo Platform\n\nOnce Velo backoffice staff have added your organization as a payor within the Velo platform sandbox, they will create you a payor Id, an API key and an API secret and share these with you in a secure manner.\n\nYou will need to use these values to authenticate with the Velo platform in order to gain access to the APIs. The steps to take are explained in the following:\n\ncreate a string comprising the API key (e.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8) and API secret (e.g. c396b26b-137a-44fd-87f5-34631f8fd529) with a colon between them. E.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8:c396b26b-137a-44fd-87f5-34631f8fd529\n\nbase64 encode this string. E.g.: NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==\n\ncreate an HTTP **Authorization** header with the value set to e.g. Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==\n\nperform the Velo authentication REST call using the HTTP header created above e.g. via curl:\n\n```\n  curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==\" \\\n  'https://api.sandbox.velopayments.com/v1/authenticate?grant_type=client_credentials'\n```\n\nIf successful, this call will result in a **200** HTTP status code and a response body such as:\n\n```\n  {\n    \"access_token\":\"19f6bafd-93fd-4747-b229-00507bbc991f\",\n    \"token_type\":\"bearer\",\n    \"expires_in\":1799,\n    \"scope\":\"...\"\n  }\n```\n## API access following authentication\nFollowing successful authentication, the value of the access_token field in the response (indicated in green above) should then be presented with all subsequent API calls to allow the Velo platform to validate that the caller is authenticated.\n\nThis is achieved by setting the HTTP Authorization header with the value set to e.g. Bearer 19f6bafd-93fd-4747-b229-00507bbc991f such as the curl example below:\n\n```\n  -H \"Authorization: Bearer 19f6bafd-93fd-4747-b229-00507bbc991f \"\n```\n\nIf you make other Velo API calls which require authorization but the Authorization header is missing or invalid then you will get a **401** HTTP status response.\n",
    "license": {
      "name": "Apache License 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "Velo Payments APIs",
    "version": "2.18.4",
    "x-logo": {
      "url": "https://velopayments.com/images/velo-logo.svg"
    }
  },
  "servers": [
    {
      "description": "Velo Payments Sandbox for testing",
      "url": "https://api.sandbox.velopayments.com/"
    },
    {
      "description": "Velo Payments Production URL",
      "url": "https://api.payouts.velopayments.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "description": "A payee is a person you wish to transfer money to. In this section you will find API opertions for working with Payees.\n",
      "name": "Payees"
    },
    {
      "description": "Payee invitation is a process of inviting individual payees to the Velo platform. In this sction you will find APIs for working with Payee Invitations.",
      "name": "Payee Invitation"
    },
    {
      "description": "A Payor is the entity which is sending money. Here you will find the available APIs for working with Payors.",
      "name": "Payors"
    },
    {
      "description": "Payout Service APIs allow you to create and instruct payouts to payees.",
      "name": "Payouts"
    },
    {
      "description": "Payment Audit Service APIs allow you to see payment history to payees.",
      "name": "Payments"
    },
    {
      "description": "APIs which allows you to work with payees invited to the Velo Platform.",
      "name": "Invites"
    },
    {
      "description": "<p>This document, including all counts herein, and the Velo Payments API are the intellectual property\nof Velo Payments. The Velo Payment API and your use of the Velo Payment API, is goverend by and subject to the\nVelo Payments Terms of Use</p>\n<p>&copy; Velo Payments, Inc.</p>\n",
      "name": "Legal"
    }
  ],
  "paths": {
    "/v1/authenticate": {
      "post": {
        "description": "Use this endpoint to obtain an access token for calling Velo Payments APIs. Use HTTP Basic Auth. String value of\nBasic and a Base64 endcoded string comprising the API key (e.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8) and API\nsecret  (e.g. c396b26b-137a-44fd-87f5-34631f8fd529) with a colon between them. E.g. Basic 44a9537d-d55d-4b47-8082-14061c2bcdd8:c396b26b-137a-44fd-87f5-34631f8fd529\n",
        "operationId": "veloAuth",
        "parameters": [
          {
            "description": "OAuth grant type. Should use 'client_credentials'",
            "in": "query",
            "name": "grant_type",
            "schema": {
              "default": "client_credentials",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            },
            "description": "Valid Authenication response",
            "headers": {
              "Cache-Control": {
                "description": "Ensure clients do not cache request",
                "required": true,
                "schema": {
                  "default": "no-store",
                  "type": "string"
                }
              },
              "Pragma": {
                "description": "Ensure clients do not cache request",
                "required": true,
                "schema": {
                  "default": "no-cache",
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "Authentication endpoint",
        "tags": [
          "Auth"
        ]
      }
    },
    "/v1/payors/{payorId}": {
      "get": {
        "deprecated": true,
        "description": "Get a Single Payor by Id.\n",
        "operationId": "getPayorById",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayorV1"
                }
              }
            },
            "description": "Get Payor Details",
            "x-contracts": [
              {
                "contractId": 1,
                "headers": {
                  "Content-Type": "application/json;charset=UTF-8"
                },
                "body": {
                  "payorId": "0a818933-087d-47f2-ad83-2f986ed087eb",
                  "payorName": "Joe",
                  "address": {
                    "line1": "101 California Street",
                    "city": "San Francisco",
                    "zipOrPostcode": "94111",
                    "country": "US"
                  },
                  "primaryContactName": "Joe",
                  "primaryContactPhone": 1231231234,
                  "primaryContactEmail": "foo@example.com",
                  "kycState": "PASSED_KYC",
                  "manualLockout": false,
                  "payeeGracePeriodProcessingEnabled": true,
                  "payeeGracePeriodDays": 90,
                  "dbaName": "FlyByNight, Inc",
                  "allowsLanguageChoice": false,
                  "reminderEmailsOptOut": false,
                  "language": "EN",
                  "supportContact": "support@example.com",
                  "collectiveAlias": "MyAlias",
                  "maxMasterPayorAdmins": 2
                }
              }
            ]
          },
          "404": {
            "description": "Payor Id Not Found",
            "x-contracts": [
              {
                "contractId": 2
              }
            ]
          }
        },
        "summary": "Get Payor",
        "tags": [
          "Payors"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payors/126969bd-6a18-47ec-96e1-57559afecf32' -i -X GET \\\n    -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \\\n    -H 'Content-Type: application/json'\n"
          }
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Test Get Payor",
            "contractPath": "/v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb",
            "serviceName": "payor-service"
          },
          {
            "contractId": 2,
            "name": "Test Payor Not Found",
            "contractPath": "/v1/payors/00000000-0000-0000-0000-000000000000",
            "serviceName": "payor-service"
          }
        ]
      }
    },
    "/v2/payors/{payorId}": {
      "get": {
        "description": "Get a Single Payor by Id.\n",
        "operationId": "getPayorByIdV2",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayorV2"
                }
              }
            },
            "description": "Get Payor Details",
            "x-contracts": [
              {
                "contractId": 1,
                "headers": {
                  "Content-Type": "application/json;charset=UTF-8"
                },
                "body": {
                  "payorId": "0a818933-087d-47f2-ad83-2f986ed087eb",
                  "payorName": "Joe",
                  "address": {
                    "line1": "101 California Street",
                    "city": "San Francisco",
                    "zipOrPostcode": "94111",
                    "country": "US"
                  },
                  "primaryContactName": "Joe",
                  "primaryContactPhone": 1231231234,
                  "primaryContactEmail": "foo@example.com",
                  "kycState": "PASSED_KYC",
                  "manualLockout": false,
                  "payeeGracePeriodProcessingEnabled": true,
                  "payeeGracePeriodDays": 90,
                  "dbaName": "FlyByNight, Inc",
                  "allowsLanguageChoice": false,
                  "reminderEmailsOptOut": false,
                  "language": "EN",
                  "supportContact": "support@example.com",
                  "collectiveAlias": "MyAlias",
                  "maxMasterPayorAdmins": 2
                }
              }
            ]
          },
          "404": {
            "description": "Payor Id Not Found",
            "x-contracts": [
              {
                "contractId": 2
              }
            ]
          }
        },
        "summary": "Get Payor",
        "tags": [
          "Payors"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v2/payors/126969bd-6a18-47ec-96e1-57559afecf32' -i -X GET \\\n    -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \\\n    -H 'Content-Type: application/json'\n"
          }
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Test Get Payor V2",
            "contractPath": "/v2/payors/0a818933-087d-47f2-ad83-2f986ed087eb",
            "serviceName": "payor-service"
          },
          {
            "contractId": 2,
            "name": "Test Payor Not Found V2",
            "contractPath": "/v2/payors/00000000-0000-0000-0000-000000000000",
            "serviceName": "payor-service"
          }
        ]
      }
    },
    "/v1/payors/{payorId}/applications": {
      "post": {
        "description": "Create an application for the given Payor ID. Applications are programatic users which can be assigned unique keys.",
        "operationId": "payorCreateApplicationRequest",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayorCreateApplicationRequest"
              }
            }
          },
          "description": "Details of application to create",
          "required": true,
          "x-contracts": [
            {
              "contractId": 1,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "name": "foo",
                "description": "a foo application"
              },
              "matchers": {
                "headers": [
                  {
                    "key": "Content-Type",
                    "regex": "application/json.*"
                  }
                ],
                "body": [
                  {
                    "path": "$.name",
                    "type": "by_regex",
                    "predefined": "non_empty"
                  },
                  {
                    "path": "$.description",
                    "type": "by_regex",
                    "predefined": "non_empty"
                  }
                ]
              }
            }
          ]
        },
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "Location": {
                "description": "location",
                "schema": {
                  "type": "string"
                }
              }
            },
            "x-contracts": [
              {
                "contractId": 1,
                "mathers": {
                  "headers": [
                    {
                      "key": "Location",
                      "predefined": "non_blank"
                    }
                  ]
                }
              }
            ]
          },
          "400": {
            "description": "invalid request body or payor in invalid state"
          },
          "404": {
            "description": "Payor not found."
          },
          "409": {
            "description": "Application name conflict"
          }
        },
        "summary": "Create Application",
        "tags": [
          "Payor Applications"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payors/79a6fdaa-f4bb-47b7-9c1f-f6fd99c156a0/applications' -i -X POST \\\n    -H 'Content-Type: application/json' \\\n    -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8' \\\n    -d '{\"name\":\"foo\",\"description\":\"a foo application\"}'\n"
          }
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Test Create Application",
            "contractPath": "/v1/payors/835ac62e-616c-4261-bf38-63366db78c0d/applications",
            "serviceName": "payor-service"
          }
        ]
      }
    },
    "/v1/payors/{payorId}/applications/{applicationId}/keys": {
      "post": {
        "description": "Create an an API key for the given payor Id and application Id",
        "operationId": "payorCreateApiKeyRequest",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Application ID",
            "in": "path",
            "name": "applicationId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayorCreateApiKeyRequest"
              }
            }
          },
          "description": "Details of application API key to create",
          "required": true,
          "x-contracts": [
            {
              "contractId": 4,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "name": "Key Name",
                "description": "A key description",
                "roles": [
                  "payor.admin"
                ]
              },
              "matchers": {
                "headers": [
                  {
                    "key": "Content-Type",
                    "regex": "application/json.*"
                  }
                ],
                "body": [
                  {
                    "path": "$.name",
                    "type": "by_regex",
                    "predefined": "non_empty"
                  },
                  {
                    "path": "$.description",
                    "type": "by_regex",
                    "predefined": "non_empty"
                  },
                  {
                    "path": "$.roles",
                    "type": "by_regex",
                    "predefined": "non_empty"
                  }
                ]
              }
            }
          ]
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayorCreateApiKeyResponse"
                }
              }
            },
            "description": "HTTP Ok, key created",
            "x-contracts": [
              {
                "contractId": 4,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "apiKey": "385d4506-e7dd-446e-a092-5f30b98e7b26",
                  "apiSecret": "f25767d9-342a-48ac-a788-0a7a38ae6fb3"
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Content-Type",
                      "regex": "application/json.*"
                    }
                  ],
                  "body": [
                    {
                      "path": "$.apiKey",
                      "type": "by_regex",
                      "predefined": "non_empty"
                    },
                    {
                      "path": "$.apiSecret",
                      "type": "by_regex",
                      "predefined": "non_empty"
                    }
                  ]
                }
              }
            ]
          },
          "400": {
            "description": "Invalid Request Body or Payor in Invalid State"
          },
          "404": {
            "description": "Payor Id Not Found"
          }
        },
        "summary": "Create API Key",
        "tags": [
          "Payor Applications"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payors/79a6fdaa-f4bb-47b7-9c1f-f6fd99c156a0/applications/ba08877f-9d96-41e4-9c26-44a872d856ae/keys' -i -X POST \\\n    -H 'Content-Type: application/json' \\\n    -H 'Authorization: Bearer 698f1609-c616-48f0-b8d5-03373e9fbd40' \\\n    -d '{\"name\":\"foo\",\"description\":\"a foo key\",\"roles\":[\"foo.role\"]}'\n"
          }
        ],
        "x-contracts": [
          {
            "contractId": 4,
            "name": "Create an API key for a payor",
            "contractPath": "/v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/applications/ba08877f-9d96-41e4-9c26-44a872d856ae/keys",
            "serviceName": "payor-service"
          }
        ]
      }
    },
    "/v1/payors/{payorId}/reminderEmailsUpdate": {
      "post": {
        "description": "Update the emailRemindersOptOut field for a Payor. This API can be used to opt out\nor opt into Payor Reminder emails. These emails are typically around payee events\nsuch as payees registering and onboarding.\n",
        "operationId": "payorEmailOptOut",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayorEmailOptOutRequest"
              }
            }
          },
          "description": "Reminder Emails Opt-Out Request",
          "required": true,
          "x-contracts": [
            {
              "contractId": 1,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "reminderEmailsOptOut": true
              }
            },
            {
              "contractId": 2,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "reminderEmailsOptOut": true
              }
            }
          ]
        },
        "responses": {
          "202": {
            "description": "HTTP Accepted",
            "x-contracts": [
              {
                "contractId": 1
              }
            ]
          },
          "400": {
            "description": "Invalid Request Body"
          },
          "404": {
            "description": "Payor Id Not Found",
            "x-contracts": [
              {
                "contractId": 2
              }
            ]
          }
        },
        "summary": "Reminder Email Opt-Out",
        "tags": [
          "Payors"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payors/d8d49d3a-0712-4ad0-bb14-2e308d240233/reminderEmailsUpdate' -i -X POST \\\n    -H 'Authorization: Bearer fc825fad-e4a7-49e5-b6d9-9b9aa47a19c8' \\\n    -H 'Content-Type: application/json' \\\n    -d '{\"reminderEmailsOptOut\":true}'\n"
          }
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Test Email Opt-Out",
            "serviceName": "payor-service",
            "contractPath": "/v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/reminderEmailsUpdate"
          },
          {
            "contractId": 2,
            "name": "Test Not Found",
            "serviceName": "payor-service",
            "contractPath": "/v1/payors/00000000-0000-0000-0000-000000000000/reminderEmailsUpdate"
          }
        ]
      }
    },
    "/v1/payors/{payorId}/branding/logos": {
      "post": {
        "description": "Add Payor Logo. Logo file is used in your branding, and emails sent to payees.",
        "operationId": "payorAddPayorLogo",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PayorLogoRequest"
              }
            }
          },
          "description": "Image file to upload",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Invalid Request Body"
          },
          "404": {
            "description": "Payor Id Not Found"
          }
        },
        "summary": "Add Logo",
        "tags": [
          "Payors"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payors/450ecb66-df18-4d0c-b557-f718782775df/branding/logos' -i -X POST \\\n    -H 'Content-Type: multipart/form-data' \\\n    -F 'logo=@mylogo.png;type=image/png'\n"
          }
        ]
      }
    },
    "/v1/payors/{payorId}/branding": {
      "get": {
        "description": "Get the payor branding details.",
        "operationId": "payorGetBranding",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayorBrandingResponse"
                }
              }
            },
            "description": "HTTP Ok, key created",
            "x-contracts": [
              {
                "contractId": 1,
                "body": {
                  "payorName": "Payor1",
                  "logoUrl": "http://example.com",
                  "collectiveAlias": "customer",
                  "supportContact": "support@example.com",
                  "dbaName": "FlybyNight Inc"
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Content_type",
                      "regex": "application/json.*"
                    }
                  ],
                  "body": [
                    {
                      "path": "$.payorName",
                      "type": "by_regex",
                      "predefined": "non_empty"
                    },
                    {
                      "path": "$.logoUrl",
                      "type": "by_regex",
                      "predefined": "non_empty"
                    },
                    {
                      "path": "$.collectiveAlias",
                      "type": "by_regex",
                      "predefined": "non_empty"
                    },
                    {
                      "path": "$.supportContact",
                      "type": "by_regex",
                      "predefined": "non_empty"
                    },
                    {
                      "path": "$.dbaName",
                      "type": "by_regex",
                      "predefined": "non_empty"
                    }
                  ]
                }
              }
            ]
          },
          "400": {
            "description": "Invalid Request Body or Payor in invalid state"
          },
          "404": {
            "description": "Payor Id Not Found",
            "x-contracts": [
              {
                "contractId": 2
              }
            ]
          }
        },
        "summary": "Get Branding",
        "tags": [
          "Payors"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payors/450ecb66-df18-4d0c-b557-f718782775df/branding' -i -X GET \\\n    -H 'Content-Type: application/json' \\\n    -H 'Authorization: Bearer d60eef1c-bea6-4f7e-8755-e916268ad4ff'\n"
          }
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Get Payor Branding Details",
            "description": "Test to get branding details for payor",
            "label": "Payor_Branding",
            "priority": 10,
            "ignored": false,
            "contractPath": "/v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/branding",
            "serviceName": "payor-service"
          },
          {
            "contractId": 2,
            "name": "Get Payor Brandding Details - not found",
            "description": "Test to not found status returned by API",
            "label": "Payor_Branding",
            "priority": 20,
            "contractPath": "/v1/payors/00000000-0000-0000-0000-000000000000/branding",
            "serviceName": "payor-service"
          }
        ]
      }
    },
    "/v1/payorLinks": {
      "get": {
        "description": "This endpoint allows you to list payor links",
        "operationId": "payorLinks",
        "parameters": [
          {
            "description": "The Payor ID from which to start the query to show all descendants",
            "in": "query",
            "name": "descendantsOfPayor",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Look for the parent payor details for this payor id",
            "in": "query",
            "name": "parentOfPayor",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "List of additional Payor fields to include in the response for each Payor.\nThe values of payorId and payorName and always included for each Payor - 'fields' allows you to add to this.\nExample: ```fields=primaryContactEmail,kycState``` - will include payorId+payorName+primaryContactEmail+kycState for each Payor\nDefault if not specified is to include only payorId and payorName.\nThe supported fields are any combination of: primaryContactEmail,kycState\n",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayorLinksResponse"
                }
              }
            },
            "description": "Details of Payor Links",
            "x-contracts": [
              {
                "contractId": 1,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "links": [
                    {
                      "linkId": "65514617-d18d-4bb4-8cee-09b3e7625fc9",
                      "fromPayorId": "51e93026-2f47-4dfd-a5ff-c0da0954a847",
                      "linkType": "PARENT_OF",
                      "toPayorId": "b0b09d8a-866c-4703-833e-2ff9106e185b"
                    },
                    {
                      "linkId": "6a91b045-6f42-4f9f-a627-f97f66d39bef",
                      "fromPayorId": "b0b09d8a-866c-4703-833e-2ff9106e185b",
                      "linkType": "PARENT_OF",
                      "toPayorId": "15486051-aa39-430d-8926-a4bc2fea1d04"
                    }
                  ],
                  "payors": [
                    {
                      "payorId": "51e93026-2f47-4dfd-a5ff-c0da0954a847",
                      "payorName": "Payor One"
                    },
                    {
                      "payorId": "b0b09d8a-866c-4703-833e-2ff9106e185b",
                      "payorName": "Payor Two"
                    },
                    {
                      "payorId": "15486051-aa39-430d-8926-a4bc2fea1d04",
                      "payorName": "Payor Three"
                    }
                  ]
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Content-Type",
                      "regex": "application/json.*"
                    }
                  ]
                }
              },
              {
                "contractId": 2,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "links": [
                    {
                      "linkId": "65514617-d18d-4bb4-8cee-09b3e7625fc9",
                      "fromPayorId": "51e93026-2f47-4dfd-a5ff-c0da0954a847",
                      "linkType": "PARENT_OF",
                      "toPayorId": "b0b09d8a-866c-4703-833e-2ff9106e185b"
                    },
                    {
                      "linkId": "6a91b045-6f42-4f9f-a627-f97f66d39bef",
                      "fromPayorId": "b0b09d8a-866c-4703-833e-2ff9106e185b",
                      "linkType": "PARENT_OF",
                      "toPayorId": "15486051-aa39-430d-8926-a4bc2fea1d04"
                    }
                  ],
                  "payors": [
                    {
                      "payorId": "51e93026-2f47-4dfd-a5ff-c0da0954a847",
                      "payorName": "Payor One",
                      "primaryContactEmail": "payorone@somewhere.com",
                      "kycState": "FAILED_KYC"
                    },
                    {
                      "payorId": "b0b09d8a-866c-4703-833e-2ff9106e185b",
                      "payorName": "Payor Two",
                      "primaryContactEmail": "payortwo@anothersite.com",
                      "kycState": "PASSED_KYC"
                    },
                    {
                      "payorId": "15486051-aa39-430d-8926-a4bc2fea1d04",
                      "payorName": "Payor Three",
                      "primaryContactEmail": "payorthree@example.com",
                      "kycState": "REQUIRES_KYC"
                    }
                  ]
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Content-Type",
                      "regex": "application/json.*"
                    }
                  ]
                }
              }
            ]
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "List Payor Links",
        "tags": [
          "Payors"
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "ignored": true,
            "name": "Test List Payor Links - default Payor fields",
            "request": {
              "queryParameters": [
                {
                  "key": "descendantsOfPayor",
                  "value": "0a818933-087d-47f2-ad83-2f986ed087eb"
                }
              ]
            },
            "serviceName": "payor-service"
          },
          {
            "contractId": 2,
            "ignored": true,
            "name": "Test List Payor Links - all Payor fields requested",
            "request": {
              "queryParameters": [
                {
                  "key": "descendantsOfPayor",
                  "value": "0a818933-087d-47f2-ad83-2f986ed087eb"
                },
                {
                  "key": "fields",
                  "value": "primaryContactEmail,kycState"
                }
              ]
            },
            "serviceName": "payor-service"
          }
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payorLinks?descendantsOfPayor=0a818933-087d-47f2-ad83-2f986ed087eb' -i -X GET \\\n    -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \\\n    -H 'Content-Type: application/json'\n"
          }
        ]
      }
    },
    "/v1/payees": {
      "get": {
        "description": "Get a paginated response listing the payees for a payor.",
        "operationId": "listPayees",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "query",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-contracts": [
              {
                "contractId": 1,
                "value": "0a818933-087d-47f2-ad83-2f986ed087eb",
                "matchers": [
                  {
                    "type": "equal_to",
                    "value": "0a818933-087d-47f2-ad83-2f986ed087eb"
                  }
                ]
              }
            ]
          },
          {
            "description": "The ofacStatus of the payees.",
            "in": "query",
            "name": "ofacStatus",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OfacStatus"
            }
          },
          {
            "description": "The onboarded status of the payees.",
            "in": "query",
            "name": "onboardedStatus",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OnboardedStatus"
            }
          },
          {
            "description": "Email address",
            "in": "query",
            "name": "Email",
            "required": false,
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "description": "The display name of the payees.",
            "in": "query",
            "name": "displayName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The remote id of the payees.",
            "in": "query",
            "name": "remoteId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The onboarded status of the payees.",
            "in": "query",
            "name": "payeeType",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PayeeType"
            }
          },
          {
            "description": "The country of the payees.",
            "in": "query",
            "name": "payeeCountry",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number. Default is 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page size. Default is 25. Max allowable is 100.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 25,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "List of sort fields (e.g. ?sort=onboardedStatus:asc,name:asc) Default is name:asc 'name' is treated as company name for companies - last name + ',' + firstName for individuals The supported sort fields are - payeeId, displayName, payoutStatus, onboardedStatus.\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "default": "displayName:asc",
              "pattern": "[a-zA-Z]+[:desc|:asc]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedPayeeResponse"
                }
              }
            },
            "description": "Details of Payee",
            "x-contracts": [
              {
                "contractId": 1,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "page": {
                    "numberOfElements": 1,
                    "totalElements": 1,
                    "totalPages": 23,
                    "page": "9,",
                    "pageSize": 2
                  },
                  "links": [
                    {
                      "rel": "first",
                      "href": "https://api.sandbox.velopayments.com/v1/payees?payorId=1982b223-73b7-419d-a2e1-e64362b0ee8b&page=1&pageSize=2&sort=displayName:asc"
                    }
                  ],
                  "content": [
                    {
                      "payeeId": "ee2cc9a1-34dd-4ab6-91e3-db111d08d995"
                    }
                  ]
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Content-Type",
                      "regex": "application/json.*"
                    }
                  ],
                  "body": [
                    {
                      "path": "$.page.numberOfElements",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.totalElements",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.totalPages",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.page",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.pageSize",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.links",
                      "type": "by_type",
                      "minOccurrence": 1,
                      "maxOccurrence": 5
                    },
                    {
                      "path": "$.links[0].href",
                      "type": "by_regex",
                      "predefined": "url"
                    },
                    {
                      "path": "$.content",
                      "type": "by_type",
                      "minOccurrence": 1
                    },
                    {
                      "path": "$.content[0].payeeId",
                      "type": "by_regex",
                      "predefined": "uuid"
                    },
                    {
                      "path": "$.content[0].email",
                      "type": "by_regex",
                      "predefined": "email"
                    },
                    {
                      "path": "$.content[0].created",
                      "type": "by_regex",
                      "value": "([\\d]{4})-([\\d]{2})-([\\d]{2})T([\\d]{2}):([\\d]{2}):([\\d]{2}).([\\d]{1,3})Z"
                    },
                    {
                      "path": "$.content[0].payorRefs[0].payorId",
                      "type": "by_regex",
                      "predefined": "uuid"
                    }
                  ]
                }
              }
            ]
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "List Payees",
        "tags": [
          "Payees"
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Test List Payees All params",
            "headers": {
              "Content-Type": "application/json"
            },
            "request": {
              "queryParameters": [
                {
                  "key": "page",
                  "value": 1
                },
                {
                  "key": "pageSize",
                  "value": 30
                },
                {
                  "key": "ofacStatus",
                  "value": "PASSED"
                },
                {
                  "key": "onboardedStatus",
                  "value": "CREATED"
                },
                {
                  "key": "email",
                  "value": "testemail@example.com"
                },
                {
                  "key": "displayName",
                  "value": "foo"
                },
                {
                  "key": "remoteId",
                  "value": "123123123asdf"
                },
                {
                  "key": "payeeType",
                  "value": "Individual"
                },
                {
                  "key": "payeeCountry",
                  "value": "US"
                }
              ]
            },
            "serviceName": "payee-service"
          }
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payees?pageSize=2&page=8&payorId=9cade13d-0c55-41a7-9e6d-164e8b138b40&ofacStatus=PASSED&onboardedStatus=INVITED&email=foo@example.com&displayName=Bar&remoteId=remote&payeeCountry=US&payeeType=Individual' -i -X GET \\\n    -H 'Authorization: Bearer 6dd5e976-e329-462f-bd6b-25d463cf02fd' \\\n    -H 'Content-Type: application/json'\n"
          }
        ]
      }
    },
    "/v1/payees/{payeeId}": {
      "delete": {
        "description": "This API will delete Payee by Id (UUID). Deletion by ID is not allowed if:\n* Payee ID is not found\n* If Payee has not been on-boarded\n* If Payee is in grace period\n* If Payee has existing payments\n",
        "operationId": "deletePayeeById",
        "parameters": [
          {
            "description": "The UUID of the payee.",
            "in": "path",
            "name": "payeeId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content. Payee Id accepted for deletion.",
            "x-contracts": [
              {
                "contractId": 1
              }
            ]
          },
          "400": {
            "description": "Bad Request. Payee Id failed validation for deletion."
          },
          "404": {
            "description": "Payee Id not found",
            "x-contracts": [
              {
                "contractId": 2
              }
            ]
          }
        },
        "summary": "Delete Payee by Id",
        "tags": [
          "Payees"
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Delete normal Id",
            "serviceName": "payee-service",
            "contractPath": "/v1/payees/0a818933-087d-47f2-ad83-2f986ed087eb"
          },
          {
            "contractId": 2,
            "name": "Delete Payee Id Not Found",
            "serviceName": "payee-service",
            "contractPath": "/v1/payees/00000000-0000-0000-0000-000000000000"
          }
        ]
      },
      "get": {
        "description": "Get Payee by Id",
        "operationId": "getPayeeById",
        "parameters": [
          {
            "description": "The UUID of the payee.",
            "in": "path",
            "name": "payeeId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Optional. If omitted or set to false, any Personal Identifiable Information (PII) values are returned masked.\nIf set to true, and you have permission, the PII values will be returned as their original unmasked values.\n",
            "in": "query",
            "name": "sensitive",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "x-contracts": [
              {
                "contractId": 4,
                "value": true
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payee"
                }
              }
            },
            "description": "200 response, request completed okay",
            "x-contracts": [
              {
                "contractId": 1,
                "headers": {
                  "Content-Type": "application/json;charset=UTF-8"
                },
                "body": {
                  "payeeId": "0a818933-087d-47f2-ad83-2f986ed087eb",
                  "individual": {
                    "name": {
                      "title": "Mr",
                      "firstName": "Barney",
                      "lastName": "Cuthbert",
                      "otherNames": "Grubb"
                    },
                    "nationalIdentification": "XXXXX4321",
                    "dateOfBirth": "XXXX-XX-XX"
                  },
                  "email": "bob@example.com",
                  "onboardedStatus": "CREATED",
                  "ofacStatus": "PENDING",
                  "address": {
                    "line1": "100 Battery Street",
                    "line2": "line2",
                    "line3": "line3",
                    "line4": "line4",
                    "city": "San Francisco",
                    "country": "US",
                    "countyOrProvince": "California",
                    "zipOrPostcode": 94018
                  },
                  "language": "FR",
                  "marketingOptIns": [
                    {
                      "optedIn": true
                    }
                  ]
                },
                "matchers": {
                  "body": [
                    {
                      "path": "$.gracePeriodEndDate",
                      "type": "by_regex",
                      "value": "([\\d]{4})-([\\d]{2})-([\\d]{2})"
                    },
                    {
                      "path": "$.created",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.acceptTermsAndConditionsTimestamp",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.lastOfacCheckTimestamp",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.marketingOptIns[*].timestamp",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.payorRefs[*].payorId",
                      "type": "by_regex",
                      "predefined": "uuid"
                    },
                    {
                      "path": "$.payorRefs[*].remoteId",
                      "type": "by_regex",
                      "predefined": "non_blank"
                    },
                    {
                      "path": "$.payorRefs[*].invitationStatus",
                      "type": "by_regex",
                      "predefined": "non_blank"
                    },
                    {
                      "path": "$.cellphoneNumber",
                      "type": "by_regex",
                      "predefined": "non_blank"
                    }
                  ]
                }
              },
              {
                "contractId": 2,
                "headers": {
                  "Content-Type": "application/json;charset=UTF-8"
                },
                "body": {
                  "payeeId": "a712d914-61ea-4623-8bd0-32c0f6545bfd",
                  "company": {
                    "name": "WIDGET CORP",
                    "taxId": 223344556
                  },
                  "email": "bob@example.com",
                  "onboardedStatus": "CREATED",
                  "ofacStatus": "PENDING",
                  "address": {
                    "line1": "100 Battery Street",
                    "line2": "line2",
                    "line3": "line3",
                    "line4": "line4",
                    "city": "San Francisco",
                    "country": "US",
                    "countyOrProvince": "California",
                    "zipOrPostcode": 94018
                  },
                  "language": "FR",
                  "marketingOptIns": [
                    {
                      "optedIn": true
                    }
                  ]
                },
                "matchers": {
                  "body": [
                    {
                      "path": "$.gracePeriodEndDate",
                      "type": "by_regex",
                      "value": "([\\d]{4})-([\\d]{2})-([\\d]{2})"
                    },
                    {
                      "path": "$.created",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.acceptTermsAndConditionsTimestamp",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.lastOfacCheckTimestamp",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.marketingOptIns[*].timestamp",
                      "type": "by_regex",
                      "value": "([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|0[1-9]|[12][0-9])T(2[0-3]|[01][0-9]):([0-5][0-9]):([0-5][0-9]).*"
                    },
                    {
                      "path": "$.payorRefs[*].payorId",
                      "type": "by_regex",
                      "predefined": "uuid"
                    },
                    {
                      "path": "$.payorRefs[*].remoteId",
                      "type": "by_regex",
                      "predefined": "non_blank"
                    },
                    {
                      "path": "$.payorRefs[*].invitationStatus",
                      "type": "by_regex",
                      "predefined": "non_blank"
                    },
                    {
                      "path": "$.cellphoneNumber",
                      "type": "by_regex",
                      "predefined": "non_blank"
                    }
                  ]
                }
              },
              {
                "contractId": 4,
                "headers": {
                  "Content-Type": "application/json;charset=UTF-8"
                },
                "body": {
                  "payeeId": "026cc3c8-3a0c-4083-a05b-e908048c1b08",
                  "individual": {
                    "name": {
                      "title": "Mr",
                      "firstName": "Barney",
                      "lastName": "Cuthbert",
                      "otherNames": "Grubb"
                    },
                    "nationalIdentification": 987654321,
                    "dateOfBirth": "1970-05-20T00:00:00.000Z"
                  }
                }
              }
            ]
          },
          "404": {
            "description": "Payee Not found",
            "x-contracts": [
              {
                "contractId": 3
              }
            ]
          }
        },
        "summary": "Get Payee by Id",
        "tags": [
          "Payees"
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Get Individual Payee",
            "serviceName": "payee-service",
            "contractPath": "/v1/payees/0a818933-087d-47f2-ad83-2f986ed087eb"
          },
          {
            "contractId": 2,
            "name": "Get Company Payee",
            "serviceName": "payee-service",
            "contractPath": "/v1/payees/a712d914-61ea-4623-8bd0-32c0f6545bfd"
          },
          {
            "contractId": 3,
            "name": "Payee Id Not Found",
            "serviceName": "payee-service",
            "contractPath": "/v1/payees/00000000-0000-0000-0000-000000000000"
          },
          {
            "contractId": 4,
            "name": "Get Payee sensitve true",
            "serviceName": "payee-service",
            "contractPath": "/v1/payees/026cc3c8-3a0c-4083-a05b-e908048c1b08"
          }
        ]
      }
    },
    "/v1/deltas/payees": {
      "get": {
        "description": "Get a paginated response listing payee changes.",
        "operationId": "listPayeeChanges",
        "parameters": [
          {
            "description": "The Payor ID to find associated Payees",
            "in": "query",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-contracts": [
              {
                "contractId": 1,
                "value": "0a818933-087d-47f2-ad83-2f986ed087eb",
                "matchers": [
                  {
                    "type": "equal_to",
                    "value": "0a818933-087d-47f2-ad83-2f986ed087eb"
                  }
                ]
              }
            ]
          },
          {
            "description": "The updatedSince filter in the format YYYY-MM-DDThh:mm:ss+hh:mm",
            "in": "query",
            "name": "updatedSince",
            "required": true,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "x-contracts": [
              {
                "contractId": 1,
                "value": "2019-01-20T09:00:00.000Z",
                "matchers": [
                  {
                    "type": "equal_to",
                    "value": "2019-01-20T09:00:00.000Z"
                  }
                ]
              }
            ]
          },
          {
            "description": "Page number. Default is 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page size. Default is 100. Max allowable is 1000.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 100,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayeeDeltaResponse"
                }
              }
            },
            "description": "Details of Payee Changes",
            "x-contracts": null
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "summary": "List Payee Changes",
        "tags": [
          "Payees"
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Test List Payee Changes",
            "ignored": true,
            "request": {
              "queryParameters": [
                {
                  "key": "page",
                  "value": 1
                },
                {
                  "key": "pageSize",
                  "value": 30
                }
              ]
            },
            "serviceName": "payee-service"
          }
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/deltas/payees?pageSize=2&page=8&payorId=0a818933-087d-47f2-ad83-2f986ed087eb&updatedSince=2019-01-20T09:00:00+00:00' -i -X GET \\\n    -H 'Authorization: Bearer 6dd5e976-e329-462f-bd6b-25d463cf02fd' \\\n    -H 'Content-Type: application/json'\n"
          }
        ]
      }
    },
    "/v2/payees": {
      "post": {
        "description": "Initiate the process of creating 1 to 2000 payees in a batch Use the response location header to query\nfor status (201 - Created, 400 - invalid request body, 409 - if there is a duplicate remote id within the\nbatch / if there is a duplicate email within the batch).\n",
        "operationId": "v2CreatePayee",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayeesRequest"
              }
            },
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "payorId": {
                    "format": "uuid",
                    "type": "string"
                  },
                  "file": {
                    "description": "CSV File of payee data",
                    "items": {
                      "$ref": "#/components/schemas/CreatePayeesCSVRequest"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Post payees to create.",
          "required": true,
          "x-contracts": [
            {
              "contractId": 1,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "payorId": "0a818933-087d-47f2-ad83-2f986ed087eb",
                "payees": [
                  {
                    "type": "Individual",
                    "remoteId": "remoteId",
                    "email": "bob@example.com",
                    "address": {
                      "line1": "100 Battery Street",
                      "line2": "line2",
                      "line3": "line3",
                      "line4": "line4",
                      "city": "San Francisco",
                      "countyOrProvince": "California",
                      "zipOrPostcode": "94018",
                      "country": "US"
                    },
                    "paymentChannel": {
                      "paymentChannelName": "My Payment Channel",
                      "accountNumber": "12345678",
                      "routingNumber": "123456789",
                      "countryCode": "US",
                      "currency": "USD",
                      "accountName": "Foo Account"
                    },
                    "individual": {
                      "name": {
                        "title": "Mr",
                        "firstName": "Barney",
                        "otherNames": "Grubb",
                        "lastName": "Cuthbert"
                      },
                      "nationalIdentification": "987654321",
                      "dateOfBirth": "1970-05-20T00:00:00.000Z"
                    },
                    "language": "FR"
                  },
                  {
                    "type": "Company",
                    "remoteId": "remoteId",
                    "email": "bob@example.com",
                    "address": {
                      "line1": "100 Battery Street",
                      "line2": "line2",
                      "line3": "line3",
                      "line4": "line4",
                      "city": "San Francisco",
                      "countyOrProvince": "California",
                      "zipOrPostcode": "94018",
                      "country": "US"
                    },
                    "paymentChannel": {
                      "paymentChannelName": "My Payment Channel",
                      "accountNumber": "12345678",
                      "routingNumber": "123456789",
                      "countryCode": "US",
                      "currency": "USD",
                      "accountName": "Foo Account"
                    },
                    "company": {
                      "name": "ABC Payee Corp",
                      "taxId": "223344556"
                    },
                    "language": "FR"
                  }
                ]
              },
              "matchers": {
                "headers": [
                  {
                    "key": "Content-Type",
                    "regex": "application/json.*"
                  }
                ],
                "body": [
                  {
                    "path": "$.payorId",
                    "type": "by_regex",
                    "predefined": "uuid"
                  },
                  {
                    "path": "$.payees",
                    "type": "by_regex",
                    "predefined": "non_empty"
                  }
                ]
              }
            },
            {
              "contractId": 2,
              "headers": {
                "Content-Type": "multipart/form-data"
              },
              "multipart": {
                "params": {
                  "payorId": "0a818933-087d-47f2-ad83-2f986ed087eb"
                },
                "named": [
                  {
                    "paramName": "file",
                    "fileName": "filename.csv",
                    "fileContent": "type,remoteId,email,addressLine1,addressLine2,addressLine3,addressLine4,addressCity,addressCountyOrProvince,addressZipOrPostcode,addressCountry,individualNationalIdentification,individualDateOfBirth,individualTitle,individualFirstName,individualOtherNames,individualLastName,companyName,companyEIN,paymentChannelAccountNumber,paymentChannelRoutingNumber,paymentChannelIban,paymentChannelAccountName,paymentChannelCountryCode,paymentChannelCurrency,challengeDescription,challengeValue,payeeLanguage\\n Individual,remoteId123,bob@example.com,Address line 1,Address line 2,Address line 3,Address line 4,The City,The County,The Zip,The Country,123456789,1970-02-25,Mr,Bob,Hungry,Wiggins,,,12345678,123456789,,Account name,US,USD,Challenge Description,Challenge Value,EN\\n Company,remoteId1234,jim@example.com,Address line 1,Address line 2,Address line 3,Address line 4,The City,The County,The Zip,The Country,,,,,,,ABC Corp,987654321,,,1234567890123456789012345678901234,Account name,US,USD,,,FR\\n\n"
                  }
                ]
              }
            }
          ]
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePayeesCSVResponse"
                }
              }
            },
            "description": "HTTP Created. Body created only on CSV requests",
            "x-contracts": [
              {
                "contractId": 1,
                "headers": {
                  "Location": "https://api.sandbox.velopayments.com/v2/payees/batch/dbe7df3a-6b75-4bcb-97c5-45d25f828267"
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Location",
                      "type": "by_regex",
                      "predefined": "url"
                    }
                  ]
                }
              },
              {
                "contractId": 2,
                "headers": {
                  "Content-Type": "application/json",
                  "Location": "https://api.sandbox.velopayments.com/v2/payees/batch/dbe7df3a-6b75-4bcb-97c5-45d25f828267"
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Location",
                      "type": "by_regex",
                      "predefined": "url"
                    },
                    {
                      "key": "Content-Type",
                      "regex": "application/json.*"
                    }
                  ]
                }
              }
            ]
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "summary": "Intiate Payee Creation",
        "tags": [
          "Payee Invitation"
        ],
        "x-contracts": [
          {
            "contractId": 1,
            "name": "Create Payees by JSON",
            "serviceName": "payee-service"
          },
          {
            "contractId": 2,
            "name": "Create Payees by CSV",
            "serviceName": "payee-service"
          }
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v2/payees' -i -X POST \\\n    -H 'Content-Type: application/json' \\\n    -H 'Authorization: Bearer 829d8ec0-00a3-4c95-8234-ad09500bb627' \\\n    -d '{\"payorId\":\"7ddebfed-0624-4bce-848d-40ffe818a2df\",\"payees\":[{\"type\":\"Individual\",\"remoteId\":\"remoteId\",\n    \"email\":\"bob@example.com\",\"address\":{\"line1\":\"100 Battery Street\",\"line2\":\"line2\",\"line3\":\"line3\",\n    \"line4\":\"line4\",\"city\":\"San Francisco\",\"countyOrProvince\":\"California\",\"zipOrPostcode\":\"94018\",\"country\":\"US\"},\n    \"paymentChannel\":{\"paymentChannelName\":\"My Payment Channel\",\"accountNumber\":\"12345678\",\"routingNumber\":\"123456789\",\n    \"countryCode\":\"US\",\"currency\":\"USD\",\"accountName\":\"Foo Account\"},\"individual\":{\"name\":{\"title\":\"Mr\",\n    \"firstName\":\"Barney\",\"otherNames\":\"Grubb\",\"lastName\":\"Cuthbert\"},\"nationalIdentification\":\"987654321\",\n    \"dateOfBirth\":\"1970-05-20\"},\"ofacOverride\":false,\"language\":\"FR\"},{\"type\":\"Company\",\"remoteId\":\"remoteId\",\n    \"email\":\"bob@example.com\",\"address\":{\"line1\":\"100 Battery Street\",\"line2\":\"line2\",\"line3\":\"line3\",\n    \"line4\":\"line4\",\"city\":\"San Francisco\",\"countyOrProvince\":\"California\",\"zipOrPostcode\":\"94018\",\"country\":\"US\"},\n    \"paymentChannel\":{\"paymentChannelName\":\"My Payment Channel\",\"accountNumber\":\"12345678\",\"routingNumber\":\"123456789\",\n    \"countryCode\":\"US\",\"currency\":\"USD\",\"accountName\":\"Foo Account\"},\"company\":{\"name\":\"ABC Payee Corp\",\n    \"taxId\":\"223344556\"},\"ofacOverride\":false,\"language\":\"FR\"}]}'\n"
          }
        ]
      }
    },
    "/v2/payees/batch/{batchId}": {
      "get": {
        "description": "Fetch the status of a specific batch of payees. The batch is fully processed when status is ACCEPTED and pendingCount is 0 ( 200 - OK, 404 - batch not found ).\n",
        "operationId": "v2QueryBatchStatus",
        "parameters": [
          {
            "description": "Batch Id",
            "in": "path",
            "name": "batchId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryBatchResponse"
                }
              }
            },
            "description": "Get Batch Status"
          }
        },
        "summary": "Query Batch Status",
        "tags": [
          "Payee Invitation"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v2/payees/batch/6a84cb4c-9e6e-4499-8964-2ce5fd051de2' -i -X GET \\\n    -H 'Content-Type: application/json' \\\n    -H 'Authorization: Bearer f01caad1-5ae5-454d-9467-5053e459fe45'\n"
          }
        ]
      }
    },
    "/v1/payees/{payeeId}/invite": {
      "post": {
        "description": "Resend an invite to the Payee The payee must have already been invited by the payor and not yet accepted or declined Any previous invites to the payee by this Payor will be invalidated",
        "operationId": "resendPayeeInvite",
        "parameters": [
          {
            "description": "The UUID of the payee.",
            "in": "path",
            "name": "payeeId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitePayeeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationStatusResponse"
                }
              }
            },
            "description": "200 response, request completed okay"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "summary": "Resend Payee Invite",
        "tags": [
          "Payee Invitation"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payees/5032e339-2e24-4fca-bfc9-f6a66e3157dd/invite' -i -X POST \\\n    -H 'Authorization: Bearer 5e40dde3-ff1c-4d69-94b0-3a6e96fd789e' \\\n    -H 'Content-Type: application/json' \\\n    -d '{\"payorId\":\"545e29bd-75a8-4354-8192-ae68bab59d7b\"}'\n"
          }
        ]
      }
    },
    "/v1/payees/payors/{payorId}/invitationStatus": {
      "get": {
        "description": "Returns a list of payees associated with a payor, along with invitation status and grace period end date.\n",
        "operationId": "getPayeesInvitationStatus",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationStatusResponse"
                }
              }
            },
            "description": "Get Payees with Invitaion status"
          }
        },
        "summary": "Get Payee Invitation Status",
        "tags": [
          "Payee Invitation"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/payees/payors/77f84ae9-42df-49d7-941b-47360347f86f/invitationStatus' -i -X GET \\\n    -H 'Authorization: Bearer ed73aa9a-b51b-44cb-a8e9-11e2fb85046b'\n"
          }
        ]
      }
    },
    "/v2/payees/payors/{payorId}/invitationStatus": {
      "get": {
        "description": "Returns a filtered, paginated list of payees associated with a payor, along with invitation status and grace period end date.\n",
        "operationId": "getPayeesInvitationStatusV2",
        "parameters": [
          {
            "description": "The account owner Payor ID",
            "in": "path",
            "name": "payorId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The UUID of the payee.",
            "in": "query",
            "name": "payeeId",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The invitation status of the payees.",
            "in": "query",
            "name": "invitationStatus",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InvitationStatus"
            }
          },
          {
            "description": "Page number. Default is 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page size. Default is 25. Max allowable is 100.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 25,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedPayeeInvitationStatusResponse"
                }
              }
            },
            "description": "Get Payees with Invitaion status - filters of payeeId and invitationStatus",
            "x-contracts": [
              {
                "contractId": 1,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "page": {
                    "numberOfElements": 1,
                    "totalElements": 1,
                    "totalPages": 1,
                    "page": 1,
                    "pageSize": 25
                  },
                  "links": [
                    {
                      "rel": "first",
                      "href": "http://localhost:62142/v2/payees/payors/f20b038b-e841-4d80-9175-b47c6cf19bc1/invitationStatus?payeeId=c3d60e1f-a4d0-4273-b501-bfa81c70d56b&invitationStatus=ACCEPTED&page=1&pageSize=25"
                    }
                  ],
                  "content": [
                    {
                      "payeeId": "c3d60e1f-a4d0-4273-b501-bfa81c70d56b"
                    }
                  ]
                },
                "matchers": {
                  "headers": [
                    {
                      "key": "Content-Type",
                      "regex": "application/json.*"
                    }
                  ],
                  "body": [
                    {
                      "path": "$.page",
                      "type": "by_type",
                      "minOccurrence": 1
                    },
                    {
                      "path": "$.page.numberOfElements",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.totalElements",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.totalPages",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.page",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.page.pageSize",
                      "type": "by_regex",
                      "predefined": "number"
                    },
                    {
                      "path": "$.links",
                      "type": "by_type",
                      "minOccurrence": 1,
                      "maxOccurrence": 5
                    },
                    {
                      "path": "$.links[0].href",
                      "type": "by_regex",
                      "predefined": "url"
                    },
                    {
                      "path": "$.content",
                      "type": "by_type",
                      "minOccurrence": 1
                    },
                    {
                      "path": "$.content[0].payeeId",
                      "type": "by_regex",
                      "predefined": "uuid"
                    }
                  ]
                }
              }
            ]
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get Payee Invitation Status",
        "tags": [
          "Payee Invitation"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v2/payees/payors/f20b038b-e841-4d80-9175-b47c6cf19bc1/invitationStatus?payeeId=c3d60e1f-a4d0-4273-b501-bfa81c70d56b&invitationStatus=ACCEPTED' -i -X GET \\\n    -H 'Authorization: Bearer ed73aa9a-b51b-44cb-a8e9-11e2fb85046b'\n"
          }
        ]
      }
    },
    "/v1/sourceAccounts": {
      "description": "List Source Accounts",
      "get": {
        "deprecated": true,
        "description": "List source accounts.",
        "operationId": "getSourceAccounts",
        "parameters": [
          {
            "description": "Physical Account Name",
            "in": "query",
            "name": "physicalAccountName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The account owner Payor ID",
            "in": "query",
            "name": "payorId",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Page number. Default is 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page size. Default is 25. Max allowable is 100.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 25,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Sort String",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSourceAccountResponse"
                }
              }
            },
            "description": "List Source Account response"
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get list of source accounts",
        "tags": [
          "Funding Manager"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts?payorId=a2967711-df07-41e5-b5ea-f563088911c6' -i -X GET \\\n    -H 'Authorization: Bearer 757a7dbf-2afb-45ec-877c-2aa3857c8e08'\n"
          }
        ]
      },
      "summary": "List Source Accounts"
    },
    "/v1/sourceAccounts/{sourceAccountId}": {
      "description": "Get details about given source account.",
      "get": {
        "deprecated": true,
        "description": "Get details about given source account.",
        "operationId": "getSourceAccount",
        "parameters": [
          {
            "description": "Source account id",
            "in": "path",
            "name": "sourceAccountId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceAccountResponse"
                }
              }
            },
            "description": "Source account response"
          },
          "400": {
            "description": "Bad Request, Invalid path parameter"
          },
          "404": {
            "description": "Not found"
          }
        },
        "summary": "Get details about given source account.",
        "tags": [
          "Funding Manager"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts/126895a8-ba3d-44e8-9b34-84ee579cee7a' -i -X GET \\\n    -H 'Authorization: Bearer a016f840-dafc-4b10-95f5-70ecc75a02d1'\n"
          }
        ]
      },
      "summary": "Get Source Account"
    },
    "/v1/sourceAccounts/{sourceAccountId}/achFundingRequest": {
      "post": {
        "deprecated": true,
        "description": "Instruct a funding request to transfer funds from the payor’s funding bank to the payor’s balance held within Velo  (202 - accepted, 400 - invalid request body, 404 - source account not found).",
        "operationId": "createAchFundingRequest",
        "parameters": [
          {
            "description": "Source account id",
            "in": "path",
            "name": "sourceAccountId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundingRequestV1"
              }
            }
          },
          "description": "Body to included ammount to be funded",
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request Accepted"
          },
          "400": {
            "description": "Invalid Request Body"
          },
          "404": {
            "description": "Source Account Not Found"
          }
        },
        "summary": "Create Funding Request",
        "tags": [
          "Funding Manager"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/achFundingRequest' -i -X POST \\\n    -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \\\n    -H 'Content-Type: application/json' \\\n    -d '{\"amount\":999990}'\n"
          }
        ]
      }
    },
    "/v1/sourceAccounts/{sourceAccountId}/notifications": {
      "post": {
        "description": "Set notifications for a given source account",
        "operationId": "setNotificationsRequest",
        "parameters": [
          {
            "description": "Source account id",
            "in": "path",
            "name": "sourceAccountId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetNotificationsRequest"
              }
            }
          },
          "description": "Body to included minimum balance to set",
          "required": true
        },
        "responses": {
          "204": {
            "description": "Request Fulfilled"
          },
          "400": {
            "description": "Invalid Request Body"
          },
          "404": {
            "description": "Source Account Not Found"
          }
        },
        "summary": "Set notifications",
        "tags": [
          "Funding Manager"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/notifications' -i -X POST \\\n    -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \\\n    -H 'Content-Type: application/json' \\\n    -d '{\"minimumBalance\":900}'\n"
          }
        ]
      }
    },
    "/v2/sourceAccounts/{sourceAccountId}/fundingRequest": {
      "post": {
        "description": "Instruct a funding request to transfer funds from the payor’s funding bank to the payor’s balance held within Velo  (202 - accepted, 400 - invalid request body, 404 - source account not found).",
        "operationId": "createFundingRequest",
        "parameters": [
          {
            "description": "Source account id",
            "in": "path",
            "name": "sourceAccountId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FundingRequestV2"
              }
            }
          },
          "description": "Body to included ammount to be funded",
          "required": true
        },
        "responses": {
          "202": {
            "description": "Request Accepted"
          },
          "400": {
            "description": "Invalid Request Body"
          },
          "404": {
            "description": "Source Account Not Found"
          }
        },
        "summary": "Create Funding Request",
        "tags": [
          "Funding Manager"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v2/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/fundingRequest' -i -X POST \\\n    -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \\\n    -H 'Content-Type: application/json' \\\n    -d '{\"amount\":999990}'\n"
          }
        ]
      }
    },
    "/v2/sourceAccounts": {
      "description": "List Source Accounts",
      "get": {
        "description": "List source accounts.",
        "operationId": "getSourceAccountsV2",
        "parameters": [
          {
            "description": "Physical Account Name",
            "in": "query",
            "name": "physicalAccountName",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The account owner Payor ID",
            "in": "query",
            "name": "payorId",
            "required": false,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Page number. Default is 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page size. Default is 25. Max allowable is 100.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "default": 25,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Sort String",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": "HTTP/1.1 200 OK\nContent-Length: 1455\nContent-Type: application/json;charset=UTF-8\n\n{\n  \"page\" : {\n    \"numberOfElements\" : 2,\n    \"totalElements\" : 2,\n    \"totalPages\" : 1,\n    \"page\" : 1,\n    \"pageSize\" : 0\n  },\n  \"links\" : [ {\n    \"rel\" : \"first\",\n    \"href\" : \"https://api.sandbox.velopayments.com/v2/sourceAccounts?payorId=a2967711-df07-41e5-b5ea-f563088911c6&page=1&pageSize=0&sort=fundingRef:asc\"\n  }, {\n    \"rel\" : \"last\",\n    \"href\" : \"https://api.sandbox.velopayments.com/v2/sourceAccounts?payorId=a2967711-df07-41e5-b5ea-f563088911c6&page=1&pageSize=0&sort=fundingRef:asc\"\n  }, {\n    \"rel\" : \"self\",\n    \"href\" : \"https://api.sandbox.velopayments.com/v2/sourceAccounts?payorId=a2967711-df07-41e5-b5ea-f563088911c6&page=1&pageSize=0&sort=fundingRef:asc\"\n  } ],\n  \"content\" : [ {\n    \"id\" : \"ee53e01d-c078-43fd-abd4-47e92f4a06cf\",\n    \"balance\" : 1203489,\n    \"currency\" : \"USD\",\n    \"fundingRef\" : \"a1b2c3d4\",\n    \"physicalAccountName\" : \"VELO_FBO_MYBANKA_USD\",\n    \"railsId\" : \"SIM\",\n    \"payorId\" : \"a2967711-df07-41e5-b5ea-f563088911c6\",\n    \"name\" : \"mySourceAccount\",\n    \"pooled\" : true,\n    \"balanceVisible\" : true,\n    \"customerId\" : null,\n    \"notifications\" : {\n       \"minimumBalance\": 900\n    }\n  }, {\n    \"id\" : \"a587c938-e497-4349-8817-129a5e801f30\",\n    \"balance\" : 1203489,\n    \"currency\" : \"USD\",\n    \"fundingRef\" : \"a1b2c3d4\",\n    \"physicalAccountName\" : \"VELO_FBO_MYBANKA_USD\",\n    \"railsId\" : \"SIM\",\n    \"payorId\" : \"a2967711-df07-41e5-b5ea-f563088911c6\",\n    \"name\" : \"mySourceAccount\",\n    \"pooled\" : true,\n    \"balanceVisible\" : true,\n    \"customerId\" : null,\n    \"notifications\" : {\n      \"minimumBalance\": 900\n    }\n  } ]\n}\n",
                "schema": {
                  "$ref": "#/components/schemas/ListSourceAccountResponseV2"
                }
              }
            },
            "description": "List Source Account response"
          },
          "400": {
            "description": "Invalid Request Parameters"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get list of source accounts",
        "tags": [
          "Funding Manager"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
            "source": "$ curl 'https://api.sandbox.velopayments.com/v2/sourceAccounts?payorId=a2967711-df07-41e5-b5ea-f563088911c6' -i -X GET \\\n    -H 'Authorization: Bearer 757a7dbf-2afb-45ec-877c-2aa3857c8e08'\n"
          }
        ]
      },
      "summary": "List Source Accounts"
    },
    "/v2/sourceAccounts/{sourceAccountId}": {
      "description": "Get details about given source account.",
      "get": {
        "description": "Get details about given source account.",
        "operationId": "getSourceAccountV2",
        "parameters": [
          {
            "description": "Source account id",
            "in": "path",
            "name": "sourceAccountId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceAccountResponseV2"
                }
              }
            },
            "description": "Source account response"
          },
          "400": {
            "description": "Bad Request, Invalid path parameter"
          },
          "404": {
            "description": "Not found"
          }
        },
        "summary": "Get details about given source account.",
        "tags": [
          "Funding Manager"
        ],
        "x-code-samples": [
          {
            "lang": "shell",
[...]
